amaranth @ git+https://github.com/amaranth-lang/amaranth.git@b8dc2338043c0de2938bb285068be4e6256b8cea
amaranth-boards @ git+https://github.com/amaranth-lang/amaranth-boards.git@7e24efe2f6e95afddd0c1b56f1a9423c48caa472
amaranth-yosys==0.50.0.0.post115
bcrypt==4.3.0
cffi==1.17.1
click==8.2.1
cryptography==45.0.7
importlib_resources==6.5.2
Jinja2==3.1.6
jschon==0.11.1
MarkupSafe==3.0.2
parameterized==0.9.0
paramiko==2.12.0
pycparser==2.22
PyNaCl==1.5.0
pyvcd==0.4.1
rfc3986==2.0.0
six==1.17.0
wasmtime==36.0.0
